@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: 0.1;
	color: #5e5a4c;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	background: #f2f2f2 none no-repeat 0 0 scroll;
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width : $container_width + $container_padding;
}

.primary{	
	.primary-row{
		background-color : #F9F9F9;
		margin-top: 20px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 10px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
}


/*////// message //////*/
.message-group{
	.message-row{
		margin-top: 20px;
		.message-col{
			float : left;			
			.image{
				img{ max-width : 100%; height : auto; }
			}
		}
		.message-col:first-child{
			margin-left: 0px;
		}
		/* mesage-col */
		.message-col370{
			width: 370px;
			margin-left: 20px;
		}
		
		.message-col355{
			width: 355px;
			margin-left: 10px;
		}
			
		.message-col240{
			width: 240px;
			margin-left: 20px;
		}
		.message-col235{
			width: 235px;
			margin-left: 20px;
		}	
		.message-col230{
			width: 230px;
			margin-left: 15px;
		}		
		.message-col180{
			width: 180px;
			margin-left: 13px;
		}
		.message-col110{
			width: 110px;
			margin-left: 20px;
		}
	}
	.message-row:first-child{
		margin-top: 0px;
	}	
}

.message-right{
	.text{
		float : right;
	}
	.image{
		float : left;
		margin-right: 20px;
	}
}	
.message-left{
	.text{
		float : left;
	}
	.image{
		float : right;
		margin-left: 20px;
	}
}

.message-340{
	.text{
		width: 400px;
	}
	.image{
		width: 340px;
	}
}

.message-300{
	.text{
		width: 405px;
	}
	.image{
		width: 300px;
	}
}


.message-280{
	.text{
		width: 460px;
	}
	.image{
		width: 280px;
	}
}


.message-230{	
	.text{
		width: 470px;
		padding-right: 10px;
	}
	.image{
		width: 230px;
	}
}

.message-250{
	margin-bottom: 30px;
	.text{
		width: 450px;
	}
	.image{
		width: 250px;
	}
}

.message-141{	
	.text{
		width: 530px;		
	}
	.image{
		width: 141px;
	}
}


/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret{
	margin : 0px;
	padding : 0px;
	list-style : none;
	i.fa{
		margin-right : 5px;
	}
}
.list-inline{
	li{
		float : left;
		margin-left: 10px;
	}
	li:first-child{
		margin-left: 0px;
	}
}

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/

#top{
	
}/* end top */

header{
	border-top : 4px solid $main_color;
	background : #fff none no-repeat 0 0 scroll;
	.header-content{
		position : relative;
		padding-top : 5px;
		.logo{			
			margin-bottom: 2px;			
		}
		.header-text{
			position : absolute;
			color: #2D8CCC;
			font-weight: bold;
			top: 25px;
			line-height: 2em;
			left : 290px;
		}
		.header-btn{
			position : absolute;
			top : 55px;
			left : 290px;
			ul{
				padding : 0px;
				margin : 0px;
				list-style: none;
				li{
					float : left;
					margin-left: 25px;
					background : transparent url("../img/common/header_btn_sep.jpg") no-repeat 0 center scroll;
					a{
						display: block;
						padding-left : 18px;
						font-size: 12px;
						line-height: 12px;
					}
				}
				li:first-child{ margin-left : 0px; }
			}
		}
		#header_con{		
			z-index: 100;
			position : absolute;
			top:0px;	
			right: 0px;
			text-align: right;
			.header_con_bg{
				position: relative;
				.header_con_btn{
					position : absolute;
					bottom : 10px;
					right : 20px;
				}
			}
		}
	}
}/* end header */

#content{
	padding : 25px 0px 40px;
}


/*//////// Sidebar commmon ////////////*/
/* begin sideMenu */
/* sideMenu.css */
#sideMenu{
	h4{
		background: $main_color;
		color: #FFF;			
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;				
	}	
	.sideMenu{
		margin : 0px auto;
		background : transparent url("../img/common/sideMenu_bg.jpg") no-repeat 0 0 scroll;
		height: 300px;
		border : 1px solid #DDDDDD;
		ul{
			margin : 0px;
			padding : 0px;
			list-style: none;		
			li{
				a{
					background : transparent none no-repeat 0 0 scroll;
					padding-left : 15px;
					display: block;
					line-height: 30px;
					border-top: 1px dotted #DDDDDD;
					margin-left: 60px;			
					padding-left: 20px;
				}
				a:hover{
					color: $sub_color1;
				}			
			}
			li:first-child a{
				border-top : none;
			}
		}
	}
}/* end sideMenu */			
/* begin sideNav */
#sideNav{
	h4{
		background: $main_color;
		color: #FFF;			
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;				
	}
	.sideNav{
		margin : 0px;
		padding : 5px;		
		background-color : $border_color;	
		ul{
			margin : 0px;
			padding : 0px;
			list-style: none;
			li{
				margin-top: 5px;
				a{
					padding-left : 30px;
					line-height : 40px;	
					font-size: 14px;
					background-color : #FFF;			
					border-left : 10px solid $main_color;
					display : block;
					color : $text_color;				
					font-weight: bold;
				}
				a:hover{
					border-color : $sub_color1;
				}
			}
			li:first-child{
				margin-top : 0px;
			}
		}
	}
}/* end sideNav */

#content{
	
}

footer{
	.footer-nav{
		background-color : #E6E9EB;
		border-top : 1px dotted #CCCCCC;
		ul{
			list-style: none;
			padding : 0px;
			margin : 0px;
			li{
				float: left;
				a{
					text-align: center;
					border-left : 1px dotted #CCC;
					display: block;
					line-height: 40px;
				}
			}
			
		}
	}
	.footer-company{
		padding : 20px 0px;
		background-color: #f9f9f9;
	}
	.footer-copyright{
		background-color : $main_color;
		color: #fff;
		line-height: 30px;
	}
}