@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/*////// heading //////*/
h1{

}
.h2_title{
	font-size : 20px;
	color : #5E594C;
	font-weight : bold;
	line-height : 60px;
	padding-left : 20px;
	background : transparent url('../img/common/h2_title.jpg') no-repeat 0 0 scroll;
	margin-bottom : 20px;
}

.h3_title{
	font-size : 14px;
	height: 30px;
	background : transparent url('../img/common/case_content_title.jpg') no-repeat 0 0 scroll;	
	display: block;
	padding: 8px 0 0 32px;
	color: $main_color;
	margin-bottom: 20px;
}	
h4{

}

/*/////////// common parts ////////////*/
.navigation{
	a{ color : $sub_color1; }
	a:hover{ text-decoration : underline; }
}
/*/////////// globalNavi ////////////*/

.globalNavi-dynamic{	
	background-color : $main_color;
	border-bottom : 5px solid #B2C6D2;
	.globalNavi-content{
		background: transparent url("../img/common/nav_sep.jpg") no-repeat 780px 0 scroll;
		ul{
			list-style: none;
			padding : 0px;
			margin : 0px;
			li{
				float : left;				
				a{			
					font-size: 15px;
					background : transparent url("../img/common/nav_sep.jpg") no-repeat 0 0 scroll;
					color: #fff;
					display: block;
					line-height: 60px;					
					padding : 0px 41px;
				}				
				a:hover{
					color: #33627B;
					font-weight: bold;
					background-color: #B2C6D2;
				}
			}
			/*li:first-child{
				a{
					background-image : none;
				}
			}*/
		}
	}
}

/*/////////// feature ////////////*/
#feature{
	position : relative;	
}
.dark-tooltip{
	width : 200px;	
}

#page-feature{	
	background : $sub_color1 url("../img/common/page_feature_bg.jpg") repeat 0 0 scroll;
	height : 162px;
	.page-feature-content{
		padding : 20px 0px 10px 25px;
		position : relative;
		.title{
			line-height: 162px;
			left : 200px;
			top : 0px;
			position : absolute;
		}
	}
	padding-bottom : 2px;
}

#breadcrumb{			
	color: $main_color;
	margin: -3px 0 10px 0;
}

/*/////////// maintop ////////////*/
#maintop{
	padding : 15px 0px;
	p{ margin-top : 20px; }
	p:first-child{ margin-top : 0px; }
}
#mainslide{
	background: $sub_color1 none no-repeat 0 0 scroll;
	padding : 20px 0px;
	.mainslide-content{		
		.bx-wrapper{
			margin : 0px auto;
		}	
		.bx-viewport{
			left : 0px;
			box-shadow : none;
			/*border : none;*/
		}
		.bx-pager{ display : none; }
		#bx-pager{
			text-align: center;
			background : $main_color none no-repeat 0 0 scroll;
			padding : 10px 0px;
			a img{
				width: 210px;
				height: auto;
			}
		}
		.bx-controls-direction .bx-prev{
			position: absolute;			
			left : -64px;
		}
		.bx-controls-direction .bx-next{
			position: absolute;			
			right : -64px;
		}		
	}
}

/*/////////// side-con ////////////*/
.side-con{
	position : relative;
	.side-con-btn{
		position : absolute;
		bottom : 10px;
		left : 10px;
	}
}

/*/////////// sideMenu ////////////*/
#sideMenu{
	.sideMenu_title{
		background-color : $sub_color1;
		font-size: 16px;
		line-height: 30px;
		color: #fff;
		padding-left : 20px;		
	}
	ul{
		background-color : #FCFAF5;
		list-style: none;
		padding : 0px;
		margin : 0px;
		li{
			border-top : 1px dotted $border_color;			
			a{
				line-height: 40px;
				display: block;				
				background : transparent url("../img/common/sideMenu_sep.jpg") no-repeat 15px center scroll;			
				padding-left : 40px;
			}
			a:hover{
				color: $sub_color1;
			}
		}
		li:first-child{ border-top : 0px; }
	}
}

.sideCompany{
	background-color : #FCFAF5;	
	padding : 0px 10px 10px;
	.title{
		border-top : 3px solid $sub_color1;
		border-bottom : 1px dotted $sub_color1;
		padding : 18px 0px 18px 20px;
		line-height: 22px;
		span.small{ color : #5E5A4C; line-height : 22px; font-size : 14px; }
		span.large{ color : #004364; font-weight: bold; font-size : 20px; line-height : 22px; }
	}
	a.link{
		display: block;
		line-height: 30px;
		background-color : $main_color;
		color: #fff;
		text-align: center;
		span{
			background : transparent url("../img/common/sideMenu_sep.jpg") no-repeat 0px center scroll;
			padding-left : 15px;
		}
	}
}

/*/////////// part-area ////////////*/
.region ul{
	list-style: none;
	margin : 0px;
	padding: 0px;
}
.region > ul{
	padding : 10px;
}
.region > ul > li > span{
	font-weight: bold;
}
.region > ul > li > ul > li > span{	
	padding-left: 10px;
}
.region ul.region_post_list li{
	display: inline;
	padding-right: 10px;
}
.region{
	.region-category{
		margin-bottom: 10px;
		> span{
		margin-bottom: 5px;
		font-weight: bold;
		color: $sub_color1;
		}
	}
	a:hover{
		text-decoration: underline;
		color: $sub_color1;
	}
}

.top-message-box{	
	padding : 0px 15px 20px;
	.message-col{
		position : relative;
		.title{
			position : absolute;
			bottom : 10px;
			left : 10px;
			line-height: 30px;
			padding-left : 67px;
			color: #fff;
		}
	}
}
/* message : title, image, caption, link */
.message-classic .message-col{
	.image{
		text-align: center;		
	}
	.title{
		text-align: center;
		line-height: 2em;
		border-bottom: 1px dotted $border_color;
	}
	.caption{				
		text-align: justify;
		padding : 10px 0px 15px;
	}
	.title, .caption{ word-wrap : break-word; }
	.link{
		text-align: right;	
	}
}

/*/////////// part-contact ////////////*/
.part-contact{
	position : relative;	
	margin-top: -21px;
	.part-contact-btn{
		position : absolute;
		right : 20px;
		bottom : 75px;
	}
}

/*/////////// page-blog ////////////*/
.sideBlog{
	.sideBlog-title{
		color: $sub_color1;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $sub_color1;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
	}
}

/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
}

/*////////// company ///////////*/
.company_table{
	margin: 20px;
	width: 720px;
	tr th{
		background-color: #F5F0E8;
		color: #5e5a4c;
	}
	tr td{
		background-color: #fff;
	}
}

.company_table_last{
	margin: 20px;
	width: 720px;
	border-width : 1px;
	border-style : solid;	
	tr{			
		th{
			width: 180px;
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
	tr th{
		background-color: #F5F0E8;
		color: #5e5a4c;
	}
	tr td{
		background-color: #fff;
	}	
}

/*/////////// custom post : work ////////////*/
.message-work{
	.image{		
		width: 370px;
	}
	.text{				
		width: 370px;
	}
}

/*/////////// index ////////////*/
.text-bottom{
	padding: 0 20px 20px;
}
/*/////////// page-case ////////////*/
.case-category-navi{
	margin: 20px 0;
	ul{
		padding : 0px;
		margin : 0px;
		list-style: none;
		li{
			float : left;
			margin-left: 40px;
			background : transparent url("../img/common/header_btn_sep.jpg") no-repeat 0 center scroll;
				a{
					display: block;
					padding-left : 18px;
					font-size: 12px;
					line-height: 12px;
				}
		}
					li:first-child{ margin-left : 0px; }
	}
}

#main-h1-title{
	.h1-title{
		color : #3F1E1D;		
		height : 120px;
		padding : 40px 0 0 45px;;
		background : transparent url('../img/common/h1_title.jpg') no-repeat 0 0 scroll;	
		font :{
			size: 40px;
			weight: bold;
		}	
	}
}

.case-group{
		.case-row{	
			margin-top: 15px;
			.case-col{
				float : left;	
				position : relative;
				.title{
					position : absolute;
					bottom : 10px;
					left : 10px;
					line-height: 30px;
					padding-left : 67px;
					color: #fff;
				}
				
				.image{
					img{ max-width : 100%; height : auto; }
				}
			}
			.case-col:first-child{
				margin-left: 0px;
			}
			.case-col230{
				width: 230px;
				margin-left: 15px;				
			}			
			
		}	
		.case-row:first-child{
			margin-top: 0px;
		}
	}

.case-content{	
	padding: 20px;	
	.case-title{
		font-size : 14px;
		height: 30px;
		background : transparent url('../img/common/case_content_title.jpg') no-repeat 0 0 scroll;	
		display: block;
		padding: 8px 0 0 32px;
		color: $main_color;
		margin-bottom: 20px;
	}

	
}

/*/////////// page-ori ////////////*/
.ori-content{
	background-color : #F9F9F9;
	padding: 20px;	
	.ori-cate{
		margin-top: 10px;
		.ori-cate-title{
			background-color: #b4c6d0;
			color: #004165;
			padding: 5px 20px;
			width: 140px;
			float: left;
			text-align: center;
		}
		.ori-cate-info{
			color: #268cd1;
			margin-left: 160px;
			padding-top: 4px;
			background-color: #fff;
			ul{
				padding : 0px;
				margin : 0px;
				list-style: none;
				li{
					float : left;
					margin-left: 20px;											
					text-decoration: underline;
				}
				li:first-child{ margin-left : 0px; }
			}
		}
	}
}

.ori-gallery{
	margin: 20px 0;
}

.ori-category-navi{
	margin: 20px 0;
	ul{
		padding : 0px;
		margin : 0px;
		list-style: none;		
		li{
			float : left;			
			width: 25%;
			background : transparent url("../img/common/header_btn_sep.jpg") no-repeat 0 center scroll;
				a{
					display: block;
					padding-left : 18px;
					font-size: 12px;
					line-height: 25px;
				}
		}
		li:first-child{ margin-right : 0px; }
	}
}

/*/////////// page-faq ////////////*/
.faq-bg{
	padding: 0 20px 20px;
}
/*/////////// page-flow ////////////*/
.flow-bg{
	padding : 0px 20px 20px;
	.flow-title{
		.flow-step{
			float: left;
			color: #268cd1;
			font:{
				size: 22px;
				weight: bold;
			}
			span.flow-step-no{
				font-size: 36px;
				padding-left: 5px;
			}
		}

		.flow-step-title{
			margin-left: 105px;
			background : transparent url('../img/content/flow_content_line.jpg') no-repeat 0 0 scroll;	
			padding-left: 15px;
			color: #004165;
			font-size: 22px;
		}
	}

	.flow-arrow{
		text-align: center;
		border-top: 1px solid #eee;		
		margin-bottom: 10px;
	}
}


/*/////////// page-factory ////////////*/
.factory-content-first{	
	padding: 0 20px 20px;
	.factory-info{
		padding-bottom: 15px;
	}
	.factory-title{
		font-size : 14px;
		height: 30px;
		background : transparent url('../img/common/case_content_title.jpg') no-repeat 0 0 scroll;	
		display: block;
		padding: 8px 0 0 32px;
		color: $main_color;
		margin-bottom: 20px;
	}	
}

.factory-content{	
	padding: 10px 20px 20px;
	.factory-info{
		padding-bottom: 15px;
	}
	.factory-title{
		font-size : 14px;
		height: 30px;
		background : transparent url('../img/common/case_content_title.jpg') no-repeat 0 0 scroll;	
		display: block;
		padding: 8px 0 0 32px;
		color: $main_color;
		margin-bottom: 20px;
	}
	
}


/*/////////// page-service ////////////*/
.service-navi-bg{
	margin-top: -20px;
	background-color: #f9f9f9;
	padding: 0 20px 20px 20px;	
	margin-bottom: 20px;
	.service-ori{
		.text{
			width: 360px;
			float : right;			
			.service-ori-title{
				background-color: #fff;
				padding: 5px 0 0 30px;
				font-size: 15px;
				height: 30px;
			}
			.service-ori-navi{
				margin-top: 15px;
				float : left;
				width: 360px;
				ul{
					float : left;	
					margin-left: 40px;
					padding:0px;					
					list-style: none;					
					li {
						background : transparent url("../img/common/header_btn_sep.jpg") no-repeat 0 center scroll;
						a{	
						padding-left: 25px;
						display: block;
						line-height: 30px;
						text-decoration: underline;
						color: #004265;
						font-weight: bold;
					}
					}
					li a:hover{
						text-decoration: none;
					}
				}
				ul:first-child{
					margin-left: 0;
				}
			}
		}
		.image{
			width: 350px;
			float : left;								
		}
	}
}
.service-bg{
	padding: 0 20px 20px 20px;	
	.service-box1{		
	.service-box1-title{
			padding-top: 11px;
			height: 40px;
			color: #fff;
			background-color: #3890ca;
			text-align: center;
			font :{
				size: 17px;
				weight: bold;
			}
		}
		
		ul{
			padding : 20px;
			margin : 0px;
			list-style: none;		
			color: #348fcc;
			border: 2px solid #B3C7D3;
			border-top: none;
			li{
				float : left;			
				margin-left: 65px;
				background : transparent url("../img/content/service_content_line.jpg") no-repeat 0 0 scroll;			
				height: 130px;
				padding-left: 85px;
				width: 180px;
			}
			li:first-child{
				margin-left : 0px; 
				background: none;
			}
		}
	}

	.service-box1-info{
		color: #003f66;
		padding-top: 15px;
	}

	.service-frame-text{
		margin: 15px 0;
		background : transparent url("../img/content/service_content_img3.jpg") no-repeat 0 0 scroll;				
		height: 150px;
		padding: 20px 20px 20px 165px;	
		span.service-frame-text-step{
			background-color: #ffdf00; 
			padding: 2px 10px;
		}
	}

	.service-text{		
		span.service-text-title{			
			color: #dd0000;
			
		}
	}

	.service-group{
		.service-row{			
			.service-col{
				float : left;			
				.image{
					img{ max-width : 100%; height : auto; }
				}
			}
			.service-col:first-child{
				margin-left: 0px;
			}
			.service-col360{
				width: 360px;
				padding: 15px 15px 0 15px;
				border: 1px dotted #ccc;
				height: 160px;
				background-color: #fff;
				.image{
					width: 313px;	
					padding-left: 12px;
				}
				.service-box2{				
					.service-box2-text1{
						background : transparent url("../img/content/service_box2_text1.jpg") no-repeat 0 center scroll;				
						color: #003d6a;
						height: 23px;
						padding-left: 70px;
					}
					
					.service-box2-text2{
						background : transparent url("../img/content/service_box2_text2.jpg") no-repeat 0 center scroll;				
						height: 23px;
						padding-left: 70px;
					}
				}
			}
			

			.service-col240{
				width: 238px;
				border: 1px dotted #ccc;
				margin: 0 1px 1px 0;
				padding: 10px;
				.servie-box3{	
					.text{
						width: 130px;
						float : right;												
						padding-top: 15px;
					}
					.image{
						width: 83px;
						float : left;								
					}
				}
			}			
			
		}	
	}
	
}
