@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #004463;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #008ac9; }

a:link {
  color: #004463; }

a:visited {
  color: #004463; }

a:hover {
  color: #b2c6d2; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.1;
  color: #5e5a4c;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: #f2f2f2 none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
#wrapper {
  min-width: 1090px; }

.primary .primary-row {
  background-color: #F9F9F9;
  margin-top: 20px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 10px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }

/*////// message //////*/
.message-group .message-row {
  margin-top: 20px;
  /* mesage-col */ }
  .message-group .message-row .message-col {
    float: left; }
    .message-group .message-row .message-col .image img {
      max-width: 100%;
      height: auto; }
  .message-group .message-row .message-col:first-child {
    margin-left: 0px; }
  .message-group .message-row .message-col370 {
    width: 370px;
    margin-left: 20px; }
  .message-group .message-row .message-col355 {
    width: 355px;
    margin-left: 10px; }
  .message-group .message-row .message-col240 {
    width: 240px;
    margin-left: 20px; }
  .message-group .message-row .message-col235 {
    width: 235px;
    margin-left: 20px; }
  .message-group .message-row .message-col230 {
    width: 230px;
    margin-left: 15px; }
  .message-group .message-row .message-col180 {
    width: 180px;
    margin-left: 13px; }
  .message-group .message-row .message-col110 {
    width: 110px;
    margin-left: 20px; }
.message-group .message-row:first-child {
  margin-top: 0px; }

.message-right .text {
  float: right; }
.message-right .image {
  float: left;
  margin-right: 20px; }

.message-left .text {
  float: left; }
.message-left .image {
  float: right;
  margin-left: 20px; }

.message-340 .text {
  width: 400px; }
.message-340 .image {
  width: 340px; }

.message-300 .text {
  width: 405px; }
.message-300 .image {
  width: 300px; }

.message-280 .text {
  width: 460px; }
.message-280 .image {
  width: 280px; }

.message-230 .text {
  width: 470px;
  padding-right: 10px; }
.message-230 .image {
  width: 230px; }

.message-250 {
  margin-bottom: 30px; }
  .message-250 .text {
    width: 450px; }
  .message-250 .image {
    width: 250px; }

.message-141 .text {
  width: 530px; }
.message-141 .image {
  width: 141px; }

/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .list-fa-caret i.fa {
    margin-right: 5px; }

.list-inline li {
  float: left;
  margin-left: 10px; }
.list-inline li:first-child {
  margin-left: 0px; }

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/
/* end top */
header {
  border-top: 4px solid #004463;
  background: #fff none no-repeat 0 0 scroll; }
  header .header-content {
    position: relative;
    padding-top: 5px; }
    header .header-content .logo {
      margin-bottom: 2px; }
    header .header-content .header-text {
      position: absolute;
      color: #2D8CCC;
      font-weight: bold;
      top: 25px;
      line-height: 2em;
      left: 290px; }
    header .header-content .header-btn {
      position: absolute;
      top: 55px;
      left: 290px; }
      header .header-content .header-btn ul {
        padding: 0px;
        margin: 0px;
        list-style: none; }
        header .header-content .header-btn ul li {
          float: left;
          margin-left: 25px;
          background: transparent url("../img/common/header_btn_sep.jpg") no-repeat 0 center scroll; }
          header .header-content .header-btn ul li a {
            display: block;
            padding-left: 18px;
            font-size: 12px;
            line-height: 12px; }
        header .header-content .header-btn ul li:first-child {
          margin-left: 0px; }
    header .header-content #header_con {
      z-index: 100;
      position: absolute;
      top: 0px;
      right: 0px;
      text-align: right; }
      header .header-content #header_con .header_con_bg {
        position: relative; }
        header .header-content #header_con .header_con_bg .header_con_btn {
          position: absolute;
          bottom: 10px;
          right: 20px; }

/* end header */
#content {
  padding: 25px 0px 40px; }

/*//////// Sidebar commmon ////////////*/
/* begin sideMenu */
/* sideMenu.css */
#sideMenu h4 {
  background: #004463;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase; }
#sideMenu .sideMenu {
  margin: 0px auto;
  background: transparent url("../img/common/sideMenu_bg.jpg") no-repeat 0 0 scroll;
  height: 300px;
  border: 1px solid #DDDDDD; }
  #sideMenu .sideMenu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    #sideMenu .sideMenu ul li a {
      background: transparent none no-repeat 0 0 scroll;
      padding-left: 15px;
      display: block;
      line-height: 30px;
      border-top: 1px dotted #DDDDDD;
      margin-left: 60px;
      padding-left: 20px; }
    #sideMenu .sideMenu ul li a:hover {
      color: #b75e00; }
    #sideMenu .sideMenu ul li:first-child a {
      border-top: none; }

/* end sideMenu */
/* begin sideNav */
#sideNav h4 {
  background: #004463;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase; }
#sideNav .sideNav {
  margin: 0px;
  padding: 5px;
  background-color: #b3c7d3; }
  #sideNav .sideNav ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    #sideNav .sideNav ul li {
      margin-top: 5px; }
      #sideNav .sideNav ul li a {
        padding-left: 30px;
        line-height: 40px;
        font-size: 14px;
        background-color: #FFF;
        border-left: 10px solid #004463;
        display: block;
        color: #5e5a4c;
        font-weight: bold; }
      #sideNav .sideNav ul li a:hover {
        border-color: #b75e00; }
    #sideNav .sideNav ul li:first-child {
      margin-top: 0px; }

/* end sideNav */
footer .footer-nav {
  background-color: #E6E9EB;
  border-top: 1px dotted #CCCCCC; }
  footer .footer-nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    footer .footer-nav ul li {
      float: left; }
      footer .footer-nav ul li a {
        text-align: center;
        border-left: 1px dotted #CCC;
        display: block;
        line-height: 40px; }
footer .footer-company {
  padding: 20px 0px;
  background-color: #f9f9f9; }
footer .footer-copyright {
  background-color: #004463;
  color: #fff;
  line-height: 30px; }

/*////// heading //////*/
.h2_title {
  font-size: 20px;
  color: #5E594C;
  font-weight: bold;
  line-height: 60px;
  padding-left: 20px;
  background: transparent url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
  margin-bottom: 20px; }

.h3_title {
  font-size: 14px;
  height: 30px;
  background: transparent url("../img/common/case_content_title.jpg") no-repeat 0 0 scroll;
  display: block;
  padding: 8px 0 0 32px;
  color: #004463;
  margin-bottom: 20px; }

/*/////////// common parts ////////////*/
.navigation a {
  color: #b75e00; }
.navigation a:hover {
  text-decoration: underline; }

/*/////////// globalNavi ////////////*/
.globalNavi-dynamic {
  background-color: #004463;
  border-bottom: 5px solid #B2C6D2; }
  .globalNavi-dynamic .globalNavi-content {
    background: transparent url("../img/common/nav_sep.jpg") no-repeat 780px 0 scroll; }
    .globalNavi-dynamic .globalNavi-content ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      /*li:first-child{
      	a{
      		background-image : none;
      	}
      }*/ }
      .globalNavi-dynamic .globalNavi-content ul li {
        float: left; }
        .globalNavi-dynamic .globalNavi-content ul li a {
          font-size: 15px;
          background: transparent url("../img/common/nav_sep.jpg") no-repeat 0 0 scroll;
          color: #fff;
          display: block;
          line-height: 60px;
          padding: 0px 41px; }
        .globalNavi-dynamic .globalNavi-content ul li a:hover {
          color: #33627B;
          font-weight: bold;
          background-color: #B2C6D2; }

/*/////////// feature ////////////*/
#feature {
  position: relative; }

.dark-tooltip {
  width: 200px; }

#page-feature {
  background: #b75e00 url("../img/common/page_feature_bg.jpg") repeat 0 0 scroll;
  height: 162px;
  padding-bottom: 2px; }
  #page-feature .page-feature-content {
    padding: 20px 0px 10px 25px;
    position: relative; }
    #page-feature .page-feature-content .title {
      line-height: 162px;
      left: 200px;
      top: 0px;
      position: absolute; }

#breadcrumb {
  color: #004463;
  margin: -3px 0 10px 0; }

/*/////////// maintop ////////////*/
#maintop {
  padding: 15px 0px; }
  #maintop p {
    margin-top: 20px; }
  #maintop p:first-child {
    margin-top: 0px; }

#mainslide {
  background: #b75e00 none no-repeat 0 0 scroll;
  padding: 20px 0px; }
  #mainslide .mainslide-content .bx-wrapper {
    margin: 0px auto; }
  #mainslide .mainslide-content .bx-viewport {
    left: 0px;
    box-shadow: none;
    /*border : none;*/ }
  #mainslide .mainslide-content .bx-pager {
    display: none; }
  #mainslide .mainslide-content #bx-pager {
    text-align: center;
    background: #004463 none no-repeat 0 0 scroll;
    padding: 10px 0px; }
    #mainslide .mainslide-content #bx-pager a img {
      width: 210px;
      height: auto; }
  #mainslide .mainslide-content .bx-controls-direction .bx-prev {
    position: absolute;
    left: -64px; }
  #mainslide .mainslide-content .bx-controls-direction .bx-next {
    position: absolute;
    right: -64px; }

/*/////////// side-con ////////////*/
.side-con {
  position: relative; }
  .side-con .side-con-btn {
    position: absolute;
    bottom: 10px;
    left: 10px; }

/*/////////// sideMenu ////////////*/
#sideMenu .sideMenu_title {
  background-color: #b75e00;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  padding-left: 20px; }
#sideMenu ul {
  background-color: #FCFAF5;
  list-style: none;
  padding: 0px;
  margin: 0px; }
  #sideMenu ul li {
    border-top: 1px dotted #b3c7d3; }
    #sideMenu ul li a {
      line-height: 40px;
      display: block;
      background: transparent url("../img/common/sideMenu_sep.jpg") no-repeat 15px center scroll;
      padding-left: 40px; }
    #sideMenu ul li a:hover {
      color: #b75e00; }
  #sideMenu ul li:first-child {
    border-top: 0px; }

.sideCompany {
  background-color: #FCFAF5;
  padding: 0px 10px 10px; }
  .sideCompany .title {
    border-top: 3px solid #b75e00;
    border-bottom: 1px dotted #b75e00;
    padding: 18px 0px 18px 20px;
    line-height: 22px; }
    .sideCompany .title span.small {
      color: #5E5A4C;
      line-height: 22px;
      font-size: 14px; }
    .sideCompany .title span.large {
      color: #004364;
      font-weight: bold;
      font-size: 20px;
      line-height: 22px; }
  .sideCompany a.link {
    display: block;
    line-height: 30px;
    background-color: #004463;
    color: #fff;
    text-align: center; }
    .sideCompany a.link span {
      background: transparent url("../img/common/sideMenu_sep.jpg") no-repeat 0px center scroll;
      padding-left: 15px; }

/*/////////// part-area ////////////*/
.region ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.region > ul {
  padding: 10px; }

.region > ul > li > span {
  font-weight: bold; }

.region > ul > li > ul > li > span {
  padding-left: 10px; }

.region ul.region_post_list li {
  display: inline;
  padding-right: 10px; }

.region .region-category {
  margin-bottom: 10px; }
  .region .region-category > span {
    margin-bottom: 5px;
    font-weight: bold;
    color: #b75e00; }
.region a:hover {
  text-decoration: underline;
  color: #b75e00; }

.top-message-box {
  padding: 0px 15px 20px; }
  .top-message-box .message-col {
    position: relative; }
    .top-message-box .message-col .title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      line-height: 30px;
      padding-left: 67px;
      color: #fff; }

/* message : title, image, caption, link */
.message-classic .message-col .image {
  text-align: center; }
.message-classic .message-col .title {
  text-align: center;
  line-height: 2em;
  border-bottom: 1px dotted #b3c7d3; }
.message-classic .message-col .caption {
  text-align: justify;
  padding: 10px 0px 15px; }
.message-classic .message-col .title, .message-classic .message-col .caption {
  word-wrap: break-word; }
.message-classic .message-col .link {
  text-align: right; }

/*/////////// part-contact ////////////*/
.part-contact {
  position: relative;
  margin-top: -21px; }
  .part-contact .part-contact-btn {
    position: absolute;
    right: 20px;
    bottom: 75px; }

/*/////////// page-blog ////////////*/
.sideBlog .sideBlog-title {
  color: #b75e00;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #b75e00;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }

/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }

/*////////// company ///////////*/
.company_table {
  margin: 20px;
  width: 720px; }
  .company_table tr th {
    background-color: #F5F0E8;
    color: #5e5a4c; }
  .company_table tr td {
    background-color: #fff; }

.company_table_last {
  margin: 20px;
  width: 720px;
  border-width: 1px;
  border-style: solid; }
  .company_table_last tr th {
    width: 180px; }
  .company_table_last tr th, .company_table_last tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }
  .company_table_last tr th {
    background-color: #F5F0E8;
    color: #5e5a4c; }
  .company_table_last tr td {
    background-color: #fff; }

/*/////////// custom post : work ////////////*/
.message-work .image {
  width: 370px; }
.message-work .text {
  width: 370px; }

/*/////////// index ////////////*/
.text-bottom {
  padding: 0 20px 20px; }

/*/////////// page-case ////////////*/
.case-category-navi {
  margin: 20px 0; }
  .case-category-navi ul {
    padding: 0px;
    margin: 0px;
    list-style: none; }
    .case-category-navi ul li {
      float: left;
      margin-left: 40px;
      background: transparent url("../img/common/header_btn_sep.jpg") no-repeat 0 center scroll; }
      .case-category-navi ul li a {
        display: block;
        padding-left: 18px;
        font-size: 12px;
        line-height: 12px; }
    .case-category-navi ul li:first-child {
      margin-left: 0px; }

#main-h1-title .h1-title {
  color: #3F1E1D;
  height: 120px;
  padding: 40px 0 0 45px;
  background: transparent url("../img/common/h1_title.jpg") no-repeat 0 0 scroll;
  font-size: 40px;
  font-weight: bold; }

.case-group .case-row {
  margin-top: 15px; }
  .case-group .case-row .case-col {
    float: left;
    position: relative; }
    .case-group .case-row .case-col .title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      line-height: 30px;
      padding-left: 67px;
      color: #fff; }
    .case-group .case-row .case-col .image img {
      max-width: 100%;
      height: auto; }
  .case-group .case-row .case-col:first-child {
    margin-left: 0px; }
  .case-group .case-row .case-col230 {
    width: 230px;
    margin-left: 15px; }
.case-group .case-row:first-child {
  margin-top: 0px; }

.case-content {
  padding: 20px; }
  .case-content .case-title {
    font-size: 14px;
    height: 30px;
    background: transparent url("../img/common/case_content_title.jpg") no-repeat 0 0 scroll;
    display: block;
    padding: 8px 0 0 32px;
    color: #004463;
    margin-bottom: 20px; }

/*/////////// page-ori ////////////*/
.ori-content {
  background-color: #F9F9F9;
  padding: 20px; }
  .ori-content .ori-cate {
    margin-top: 10px; }
    .ori-content .ori-cate .ori-cate-title {
      background-color: #b4c6d0;
      color: #004165;
      padding: 5px 20px;
      width: 140px;
      float: left;
      text-align: center; }
    .ori-content .ori-cate .ori-cate-info {
      color: #268cd1;
      margin-left: 160px;
      padding-top: 4px;
      background-color: #fff; }
      .ori-content .ori-cate .ori-cate-info ul {
        padding: 0px;
        margin: 0px;
        list-style: none; }
        .ori-content .ori-cate .ori-cate-info ul li {
          float: left;
          margin-left: 20px;
          text-decoration: underline; }
        .ori-content .ori-cate .ori-cate-info ul li:first-child {
          margin-left: 0px; }

.ori-gallery {
  margin: 20px 0; }

.ori-category-navi {
  margin: 20px 0; }
  .ori-category-navi ul {
    padding: 0px;
    margin: 0px;
    list-style: none; }
    .ori-category-navi ul li {
      float: left;
      width: 25%;
      background: transparent url("../img/common/header_btn_sep.jpg") no-repeat 0 center scroll; }
      .ori-category-navi ul li a {
        display: block;
        padding-left: 18px;
        font-size: 12px;
        line-height: 25px; }
    .ori-category-navi ul li:first-child {
      margin-right: 0px; }

/*/////////// page-faq ////////////*/
.faq-bg {
  padding: 0 20px 20px; }

/*/////////// page-flow ////////////*/
.flow-bg {
  padding: 0px 20px 20px; }
  .flow-bg .flow-title .flow-step {
    float: left;
    color: #268cd1;
    font-size: 22px;
    font-weight: bold; }
    .flow-bg .flow-title .flow-step span.flow-step-no {
      font-size: 36px;
      padding-left: 5px; }
  .flow-bg .flow-title .flow-step-title {
    margin-left: 105px;
    background: transparent url("../img/content/flow_content_line.jpg") no-repeat 0 0 scroll;
    padding-left: 15px;
    color: #004165;
    font-size: 22px; }
  .flow-bg .flow-arrow {
    text-align: center;
    border-top: 1px solid #eee;
    margin-bottom: 10px; }

/*/////////// page-factory ////////////*/
.factory-content-first {
  padding: 0 20px 20px; }
  .factory-content-first .factory-info {
    padding-bottom: 15px; }
  .factory-content-first .factory-title {
    font-size: 14px;
    height: 30px;
    background: transparent url("../img/common/case_content_title.jpg") no-repeat 0 0 scroll;
    display: block;
    padding: 8px 0 0 32px;
    color: #004463;
    margin-bottom: 20px; }

.factory-content {
  padding: 10px 20px 20px; }
  .factory-content .factory-info {
    padding-bottom: 15px; }
  .factory-content .factory-title {
    font-size: 14px;
    height: 30px;
    background: transparent url("../img/common/case_content_title.jpg") no-repeat 0 0 scroll;
    display: block;
    padding: 8px 0 0 32px;
    color: #004463;
    margin-bottom: 20px; }

/*/////////// page-service ////////////*/
.service-navi-bg {
  margin-top: -20px;
  background-color: #f9f9f9;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px; }
  .service-navi-bg .service-ori .text {
    width: 360px;
    float: right; }
    .service-navi-bg .service-ori .text .service-ori-title {
      background-color: #fff;
      padding: 5px 0 0 30px;
      font-size: 15px;
      height: 30px; }
    .service-navi-bg .service-ori .text .service-ori-navi {
      margin-top: 15px;
      float: left;
      width: 360px; }
      .service-navi-bg .service-ori .text .service-ori-navi ul {
        float: left;
        margin-left: 40px;
        padding: 0px;
        list-style: none; }
        .service-navi-bg .service-ori .text .service-ori-navi ul li {
          background: transparent url("../img/common/header_btn_sep.jpg") no-repeat 0 center scroll; }
          .service-navi-bg .service-ori .text .service-ori-navi ul li a {
            padding-left: 25px;
            display: block;
            line-height: 30px;
            text-decoration: underline;
            color: #004265;
            font-weight: bold; }
        .service-navi-bg .service-ori .text .service-ori-navi ul li a:hover {
          text-decoration: none; }
      .service-navi-bg .service-ori .text .service-ori-navi ul:first-child {
        margin-left: 0; }
  .service-navi-bg .service-ori .image {
    width: 350px;
    float: left; }

.service-bg {
  padding: 0 20px 20px 20px; }
  .service-bg .service-box1 .service-box1-title {
    padding-top: 11px;
    height: 40px;
    color: #fff;
    background-color: #3890ca;
    text-align: center;
    font-size: 17px;
    font-weight: bold; }
  .service-bg .service-box1 ul {
    padding: 20px;
    margin: 0px;
    list-style: none;
    color: #348fcc;
    border: 2px solid #B3C7D3;
    border-top: none; }
    .service-bg .service-box1 ul li {
      float: left;
      margin-left: 65px;
      background: transparent url("../img/content/service_content_line.jpg") no-repeat 0 0 scroll;
      height: 130px;
      padding-left: 85px;
      width: 180px; }
    .service-bg .service-box1 ul li:first-child {
      margin-left: 0px;
      background: none; }
  .service-bg .service-box1-info {
    color: #003f66;
    padding-top: 15px; }
  .service-bg .service-frame-text {
    margin: 15px 0;
    background: transparent url("../img/content/service_content_img3.jpg") no-repeat 0 0 scroll;
    height: 150px;
    padding: 20px 20px 20px 165px; }
    .service-bg .service-frame-text span.service-frame-text-step {
      background-color: #ffdf00;
      padding: 2px 10px; }
  .service-bg .service-text span.service-text-title {
    color: #dd0000; }
  .service-bg .service-group .service-row .service-col {
    float: left; }
    .service-bg .service-group .service-row .service-col .image img {
      max-width: 100%;
      height: auto; }
  .service-bg .service-group .service-row .service-col:first-child {
    margin-left: 0px; }
  .service-bg .service-group .service-row .service-col360 {
    width: 360px;
    padding: 15px 15px 0 15px;
    border: 1px dotted #ccc;
    height: 160px;
    background-color: #fff; }
    .service-bg .service-group .service-row .service-col360 .image {
      width: 313px;
      padding-left: 12px; }
    .service-bg .service-group .service-row .service-col360 .service-box2 .service-box2-text1 {
      background: transparent url("../img/content/service_box2_text1.jpg") no-repeat 0 center scroll;
      color: #003d6a;
      height: 23px;
      padding-left: 70px; }
    .service-bg .service-group .service-row .service-col360 .service-box2 .service-box2-text2 {
      background: transparent url("../img/content/service_box2_text2.jpg") no-repeat 0 center scroll;
      height: 23px;
      padding-left: 70px; }
  .service-bg .service-group .service-row .service-col240 {
    width: 238px;
    border: 1px dotted #ccc;
    margin: 0 1px 1px 0;
    padding: 10px; }
    .service-bg .service-group .service-row .service-col240 .servie-box3 .text {
      width: 130px;
      float: right;
      padding-top: 15px; }
    .service-bg .service-group .service-row .service-col240 .servie-box3 .image {
      width: 83px;
      float: left; }
